body{
	background:url('images/cool_pattern2.png');
}

#bookmarks{
	max-width:1000px;
	min-width:400px;
}

.bookmark{
	max-width:240px;
	min-width:150px;
	height:120px;
	overflow:hidden;
	margin:10px;
	padding:6px;
	text-align:center;
	background: #FEFEFE;
	-webkit-border-radius: 4px;
    -webkit-box-shadow: -1px 3px 4px 2px #555;		
}
.bookmark:hover{
	background:#F7FEF7;
	padding:4px;
	border: #DDD solid 2px;
}

.bookmark h3{
	font-size:15px;
	line-height: 15px;
}

.popular{
	float:right;
	width:200px;
	word-break: break-all;
	text-align:center;
	padding:20px;
	margin-top:10px;
}